.keypad{
   display: grid;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: repeat(4,50px);
  
}
form{
display: grid;
justify-content: center;
}
.App{
  display: grid;
  justify-content: center;
  margin-top: 100px;
}
input{
  width: 374px;
  padding: 10px;
}